/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Dec, 2015, 7:37:25 PM
    Author     : RAVI
*/
body{
    justify-content: center;
    align-content: center;
}
.cssBoxShadow{
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
}
.cssNavigation{
    margin: 0px;
    width: 99%;
    height:auto;
    top:0px;
    position: fixed;
    z-index:3;
}
.cssNavigationUl{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e46c0a;
}
.cssNavigationUlLi{
    display: inline;
    float: left;    
}
.cssNavigationUlLia{
    display: block;
    padding: 5px;
    margin: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-family: serif;
    border-style: groove;
    border-right-style: dashed;
    border-right-width: thick;
    
}
.cssNavigationUlLia:hover{
    background-color: black;
    cursor: pointer; 
}

.cssNavigationUlLiRt{
    display: inline;
    float: right;    
}
.cssNavigationUlLiaRt{
    display: block;
    padding: 5px;
    margin: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: medium;
    font-family: serif;
    border-style: groove;
    border-left-style: dashed;
    border-left-width: thick;
}
.cssNavigationUlLiaRt:hover{
    background-color: black;
    cursor: pointer; 
}
.cssSection{
    display: block;
    margin: 20px auto;
    padding: 5px;
    align-items: center;
    /* top: 30px; */
    width: 100%;
    height: 100%;
    /*    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto*/
}